#container-1 {
	background-image:url('../Image/Wedding ring.jpg');
	position:fixed;
}

#container-2 {
	background-color:#FFC6E2;
	margin:2% 0% 2% 0%;
	padding::2% 0% 2% 0%;
	border-bottom-style:groove;
}

#container-3 {
	background-color:#B0E6FF;
	margin:2% 0% 2% 0%;
	padding: 2% 0% 2% 0%;
}

#box-1 {
	background-color:#CCCCCC;
	margin: 5% 5% 5% 5%;
	padding: 2% 2% 2% 2%;
	color:black;
	font-family:"Arial Narrow";
	font-style:oblique;
}

#box-2 {
	background-color:#FFCCFF;
	text-align:center;
	margin: 5% 20% 5% 20%;
	padding:5%;
	float:inherit;
}

#arrange-1 {
	text-align:center;
	font-style:oblique;
	font-family:"Goudy Old Style";
	color:#B00000;
}

#arrange-2 {
	background-color:#DFFFFF;
	text-align:center;
	padding-top:2%;
	padding-bottom:2%;
}

#section-1 {
	padding-top:50px;
	height:500px;
	position:relative;
}